@import "../../vars.scss";

.Section {
  padding: var(--space-xxs) var(--space-xxl) var(--space-m) var(--space-xxl);
  position: relative;
}

@media screen and (max-width: $screen-s) {
  .Section {
    padding: var(--space-xxs) var(--space-s) var(--space-s) var(--space-s);
  }
}
