@import "../../vars.scss";

.Section {
  padding: var(--space-xxs) var(--space-xxl) var(--space-m) var(--space-xxl);
  position: relative;
}

.Section_bottomSpace_no {
  padding-bottom: 0;
}

@media screen and (max-width: $screen-s) {
  .Section {
    padding: var(--space-xxs) var(--space-s) var(--space-s) var(--space-s);
  }

  .Section_bottomSpace_no {
    padding-bottom: 0;
  }
}
