@import "../../vars.scss";

.Section {
  padding: var(--space-xxs) var(--space-xxl) var(--space-m) var(--space-xxl);
  font-size: var(--size-text-m);
}

@media screen and (max-width: $screen-s) {
  .Section {
    padding-left: var(--space-s);
    padding-right: var(--space-s);
  }
}
