@import "../../../vars.scss";

.Footer-Link {
  color: var(--color-font-secondary);
  font-size: var(--size-text-m);
  line-height: var(--line-height-text-xs);
  text-decoration: none;
  transition: color 0.2s;
  margin-right: 12px;
}

.Footer-Link:last-child {
  margin-right: 0;
}

.Footer-Link:hover {
  color: var(--color-error);
}

@media screen and (max-width: $screen-s) {
  .Footer-Link {
    line-height: 18px;
  }
}
