@import "../../vars.scss";

.Card {
  box-sizing: border-box;
  box-shadow: var(--box-shadow);
  border-radius: var(--radius-m);
  background-color: var(--color-bg-base);
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: var(--space-xs) var(--space-m) var(--space-xs) 56px;
  cursor: pointer;
  position: relative;
  transition: box-shadow 0.3s;
}

.Card:hover {
  box-shadow: var(--box-shadow-hovered);
}

.Card_view_high {
  flex-direction: column;
  align-items: stretch;
  justify-content: flex-start;
  cursor: default;
}

.Card_view_high:hover {
  box-shadow: var(--box-shadow);
}

.Card_type_error::before {
  content: url("data:image/svg+xml,%3Csvg width='24' height='24' viewBox='0 0 24 24' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M12 1.34375C6.11328 1.34375 1.34375 6.11328 1.34375 12C1.34375 17.8867 6.11328 22.6562 12 22.6562C17.8867 22.6562 22.6562 17.8867 22.6562 12C22.6562 6.11328 17.8867 1.34375 12 1.34375ZM17.225 14.7973C17.427 14.9992 17.427 15.3258 17.225 15.5277L15.5234 17.225C15.3215 17.427 14.9949 17.427 14.793 17.225L12 14.4062L9.20273 17.225C9.00078 17.427 8.67422 17.427 8.47227 17.225L6.775 15.5234C6.57305 15.3215 6.57305 14.9949 6.775 14.793L9.59375 12L6.775 9.20273C6.57305 9.00078 6.57305 8.67422 6.775 8.47227L8.47656 6.7707C8.67852 6.56875 9.00508 6.56875 9.20703 6.7707L12 9.59375L14.7973 6.775C14.9992 6.57305 15.3258 6.57305 15.5277 6.775L17.2293 8.47656C17.4312 8.67852 17.4312 9.00508 17.2293 9.20703L14.4062 12L17.225 14.7973Z' fill='%23FF3333'/%3E%3C/svg%3E%0A");
  position: absolute;
  top: 12px;
  left: 24px;
}

.Card_type_success::before {
  content: url("data:image/svg+xml,%3Csvg width='24' height='24' viewBox='0 0 24 24' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M22.6562 12C22.6562 17.8853 17.8853 22.6562 12 22.6562C6.1147 22.6562 1.34375 17.8853 1.34375 12C1.34375 6.1147 6.1147 1.34375 12 1.34375C17.8853 1.34375 22.6562 6.1147 22.6562 12ZM10.7674 17.6424L18.6736 9.73615C18.9421 9.46768 18.9421 9.03236 18.6736 8.76389L17.7014 7.79164C17.4329 7.52313 16.9976 7.52313 16.7291 7.79164L10.2812 14.2394L7.2709 11.2291C7.00243 10.9606 6.56712 10.9606 6.29861 11.2291L5.32635 12.2014C5.05788 12.4698 5.05788 12.9051 5.32635 13.1736L9.7951 17.6424C10.0636 17.9109 10.4989 17.9109 10.7674 17.6424Z' fill='%2300B341'/%3E%3C/svg%3E%0A");
  position: absolute;
  top: 12px;
  left: 24px;
}

.Card_type_warning::before {
  content: url("data:image/svg+xml,%3Csvg width='24' height='24' viewBox='0 0 24 24' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M12 1C5.92339 1 1 5.92339 1 12C1 18.0766 5.92339 23 12 23C18.0766 23 23 18.0766 23 12C23 5.92339 18.0766 1 12 1ZM16.1024 14.8831L15.2153 15.9919C15.1571 16.0647 15.0851 16.1253 15.0034 16.1703C14.9218 16.2153 14.8321 16.2437 14.7395 16.254C14.6468 16.2643 14.5531 16.2562 14.4636 16.2303C14.3741 16.2044 14.2905 16.161 14.2177 16.1028L11.246 13.8975C11.0383 13.7313 10.8707 13.5204 10.7556 13.2807C10.6404 13.0409 10.5806 12.7783 10.5806 12.5123V5.6129C10.5806 5.42469 10.6554 5.24418 10.7885 5.11109C10.9216 4.978 11.1021 4.90323 11.2903 4.90323H12.7097C12.8979 4.90323 13.0784 4.978 13.2115 5.11109C13.3446 5.24418 13.4194 5.42469 13.4194 5.6129V12L15.9919 13.8851C16.0647 13.9433 16.1254 14.0154 16.1703 14.0971C16.2153 14.1787 16.2437 14.2685 16.254 14.3612C16.2642 14.4539 16.2561 14.5477 16.2301 14.6372C16.2041 14.7268 16.1607 14.8103 16.1024 14.8831Z' fill='%23FF9A00'/%3E%3C/svg%3E%0A");
  position: absolute;
  top: 12px;
  left: 24px;
}

@media screen and (max-width: $screen-s) {
  .Card {
    flex-direction: column;
    align-items: stretch;
    justify-content: flex-start;
    cursor: default;
    padding: 16px 24px 16px 36px;
  }

  .Card_type_error::before {
    top: 16px;
    left: 12px;
    transform-origin: top left;
    transform: scale(0.67);
  }

  .Card_type_success::before {
    top: 16px;
    left: 12px;
    transform-origin: top left;
    transform: scale(0.67);
  }

  .Card_type_warning::before {
    top: 16px;
    left: 12px;
    transform-origin: top left;
    transform: scale(0.67);
  }
}
