@import "../../../vars.scss";

.Header-BuildTitle {
  font-size: var(--size-text-3xl);
  font-weight: 500;
  letter-spacing: var(--letter-spacing-m);
  margin: 0;
  margin-right: var(--space-xxs);

  color: var(--color-font-base);
  line-height: 30px;
}

@media screen and (max-width: $screen-s) {
  .Header-Logo {
    font-size: var(--size-text-2xl);
    line-height: 22px;
  }
}
