@import "../../../vars.scss";

.Status-Number {
  font-size: var(--size-text-2xl);
  font-weight: 500;
  // line-height: var(--line-height-text-2xs);
  line-height: 20px;
  margin-right: 4px;
}

.Status-Number_view_error {
  color: var(--color-error);
}

.Status-Number_view_success {
  color: var(--color-success);
}

.Status-Number_view_waiting {
  color: var(--color-waiting);
}

@media screen and (max-width: $screen-s) {
  .Status-Number {
    font-size: var(--size-text-xl);
    line-height: 16px;
  }
}
