@import "../../../vars.scss";

.Header-Logo {
  font-size: var(--size-text-3xl);
  font-weight: 500;
  letter-spacing: var(--letter-spacing-m);
  margin: 0;
  margin-right: var(--space-xxs);
  color: var(--color-font-secondary);
}

@media screen and (max-width: $screen-s) {
  .Header-BuildTitle {
    font-size: var(--size-text-2xl);
    align-self: center;
    line-height: 22px;
  }
}
