@import "../../vars.scss";

.Header {
  box-sizing: border-box;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px var(--space-xxl);
}

@media screen and (max-width: $screen-s) {
  .Header {
    padding: 12px var(--space-s);
    align-items: flex-start;
  }
}
