@import "../../vars";

.Header {
  box-sizing: border-box;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px 100px;
}

.Header-Title {
  font-size: var(--size-text-3xl);
  font-weight: 500;
  letter-spacing: var(--letter-spacing-m);
  margin: 0;
  margin-right: var(--space-s);
}

.Header-Button {
  margin-right: var(--space-s);
}

.Header-Button:last-child {
  margin-right: 0;
}

.Header-BtnGroup {
  flex-shrink: 0;
  display: flex;
  align-items: flex-end;
}

.Header-Title_view_base {
  color: var(--color-font-base);
  line-height: 30px;
}

.Header-Title_view_secondary {
  color: var(--color-font-secondary);
}

@media screen and (max-width: $screen-s) {
  .Header {
    padding: 12px 16px;
    align-items: flex-start;
  }

  .Header-Title {
    font-size: var(--size-text-2xl);
  }

  .Header-Title_veiw_base {
    line-height: 22px;
  }

  .Header-Title_veiw_secondary {
    align-self: center;
    line-height: 22px;
  }
}
