.Meta-Text {
  margin-left: 4px;
  font-size: var(--size-text-m);
  line-height: 16px;
  letter-spacing: var(--letter-spacing-s);

  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.Meta-Text_secondary {
  opacity: 0.65;
  white-space: normal;
  overflow: visible;
}
